<%= form_for(@order) do |f| %>
	<% if @order.errors.any? %>
		<div>
			<h2><%= pluralize(@product.error.count, "error") %>
				prohibited this product from being saved </h2>
			<ul>
				<% @product.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

<div>
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div>
	<%= f.label :address %>
	<%= f.text_area :address %>
</div>
<div>
	<%= f.label :email %>
	<%= f.email_field :email %>
</div>
<div>
	<%= f.label :pay_type %>
	<%= f.select :pay_type, Order::PAYMENT_METHOD, prompt: "Pick a payment method" %>
</div>
<div>
	<%= f.submit 'Place Order' %>
</div>

<% end %>