	<!-- Contact -->

	<div class="row">

        <span>&nbsp;</span>

	</div>
	
	<div class="row">
	
		<div class="span6">
			
			<div class="checkout-box">
			
				<h2>Contact Us</h2>
				
				<p>If you would like to send us an email please fill out the form below.</p>

				<%= form_tag(contact_forms_path) do %>
				<p>
					<%= label_tag :name %>
					<%= text_field_tag :name, nil, required: true  %>
				</p>
				<p>
					<%= label_tag :email %>
					<%= email_field_tag :email, nil, required: true  %>
				</p>
				<p>
					<%= label_tag :message %>
					<%= text_area_tag :message, nil, required: true  %>
				</p>
				<p class="buttons">
					<%= submit_tag "Submit message", class: "btn btn-primary" %>
				</p>
				<% end %>
				
			</div>
			
		</div>
	
		<div class="span6">
			
			<div class="checkout-box">
			
				<h2>Where Are We?</h2>
			
				<p class="address">
					Address 1<br />
					Address 2<br />
					City<br />
					County<br />
					Postcode<br />
					Country
				</p>
			
				<h2>Or Call Us...</h2>
				
				<p class="tel">01010 101 0100</p>
				
			</div>
			
		</div>
	
	</div>