

	<div class='row'>
		<% @products.each do |p| %>
			<div class="span4 product-listing">
				<p class="title"><%= link_to p.title, p %>  </p>
				<%= link_to(image_tag("product-1.jpg"), p) %>
				<p class="price">
					<%= number_to_currency(p.price) %>
					<%= button_to line_items_path(product_id: p), class: "btn btn-addcart btn-primary", method: :post do %>
						<span class="entypo cart"></span>
					<% end %>	

					<%= link_to product_path(p), class: "btn btn-view btn-grey" do %>
						<span class="entypo search"></span>
					<% end %>
						
					</p>		
			</div>
		<% end %>
	</div>





<% if false %>

-----------The original code here ---------------------
<% @products.each do |p| %>
	<div>
		<%= link_to(image_tag(p.image_url), p) %>
		<h3><%= p.title %></h3>
		<%= p.description %>
		<div>
			<span><%= number_to_currency(p.price) %></span>
			<%= button_to 'Add to Cart', line_items_path(product_id: p), class: 'btn-primary' %>
		</div>
	</div> 
<% end %>

<% end %>


	







