<div class="container">


<div class="row">
	
		<div class="span12">
		
			<ul class="top-nav">
                <li><a href="delivery.html">Delivery Information</a></li>
				<li><%= link_to 'Contact', new_contact_forms_path %></li>
			</ul>
		
		</div>
	
	</div>
	
	<!-- Header -->
	
	<div class="row">
	
		<div class="span4">
		
			<p class="logo">
				<%= link_to image_tag("humbada-title.png"), store_url %>
			</p>
		
		</div>
	
		<div class="span4">
		
			<p class="strapline"><br />
                Chilli sauce at its best<br />
                <span>Made with the finest quality ingredients</span>
			</p>
		
		</div>
	
		<!-- Cart (in the header) -->

		<div class="span4">
			
			<div class="row">
				
				<div class="span2 offset2 mini-basket">
					
					<p class="mini-basket-title">
						<%= link_to @cart do %>
							<span><%= image_tag("small-cart.png") %></span> 
							Basket
						<% end %>
					</p>
					
					<div class="row">
						
						<div class="span1">
							<p class="mini-basket-summary">
								Price<br />
								<span><%= number_to_currency(@cart.total_price) %></span>
							</p>
						</div>
					
						<div class="span1">
							<p class="mini-basket-summary">
								Items<br />
								<span><%= @cart.total_item_count %></span>
							</p>
						</div>
					
					</div>
					
				</div>
			
			</div>
			
		</div>
	
	</div>
	
	<!-- Menu -->
	
	<div class="row">
		
		<div class="span12">
		
			<ul class="main-nav clearfix">
			
				<li><%= link_to "Shop", store_url %></li>
				<li><%= link_to "Our Story", story_path %></li>
				<li><%= link_to "Contact", new_contact_forms_path %></li>

			</ul>
		
		</div>
		
	</div>

	<!-- Body -->
	
	<div class="row">
		
		<div class="span12">
		
			<h1>Our Products</h1>
		
		</div>
		
	</div>


</div>	
